<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.posOrgid ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" label-width="120px">
          <el-form-item prop="posName" label="商户名称">
              <el-input v-model="dataForm.posName" placeholder="商户名称"></el-input>
          </el-form-item>
          <el-form-item prop="tdParentOrgname" label="上级商户名称" class="dept-list">
              <el-popover v-model="deptListVisible" ref="deptListPopover" placement="bottom-start" trigger="click">
                  <el-tree
                          :data="deptList"
                          :props="{ label: 'posName', children: 'children' }"
                          node-key="id"
                          ref="deptListTree"
                          :highlight-current="true"
                          :expand-on-click-node="false"
                          accordion
                          @current-change="deptListTreeCurrentChangeHandle">
                  </el-tree>
              </el-popover>
              <el-input v-model="dataForm.posParentOrgname" v-popover:deptListPopover :readonly="true" placeholder="上级商户名称">
                  <i
                          v-if="$store.state.user.superAdmin === 1 && dataForm.pid !== '0'"
                          slot="suffix"
                          @click.stop="deptListTreeSetDefaultHandle()"
                          class="el-icon-circle-close el-input__icon">
                  </i>
              </el-input>
          </el-form-item>
          <el-form-item prop="sort" :label="$t('dept.sort')">
              <el-input-number v-model="dataForm.codeSort" controls-position="right" :min="0" label="排序"></el-input-number>
          </el-form-item>
      </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      deptList: [],
      deptListVisible: false,
      dataForm: {
        id: '',
        posName: '',
        posParentOrgid: '',
        posParentOrgname: '',
        linker: '',
        tel: '',
        email: '',
        remark: '',
        codeSort: '',
        operatorId: '',
        createTime: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        posName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        posParentOrgname: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        this.getDeptList().then(() => {
          if (this.dataForm.id) {
            this.getInfo()
          } else if (this.$store.state.user.superAdmin === 1) {
            this.deptListTreeSetDefaultHandle()
          }
        })
      })
    },
    // 获取区域列表
    getDeptList () {
      return this.$http.get('/function/posorg/list').then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.deptList = res.data
      }).catch(() => {})
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/function/posorg/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 上级部门树, 设置默认值
    deptListTreeSetDefaultHandle () {
      this.dataForm.pid = '0'
      this.dataForm.posParentOrgname = '一级商户'
    },
    // 上级部门树, 选中
    deptListTreeCurrentChangeHandle (data) {
      this.dataForm.pid = data.id
      this.dataForm.posParentOrgname = data.posName
      this.deptListVisible = false
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'post']('/function/posorg/insertPosOrgInfo', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
