<template>
  <el-dialog :visible.sync="visible" title='部门异动' :close-on-click-modal="false" :close-on-press-escape="false">
      <el-form :inline="true" :model="dataForm" ref="dataForm" @keyup.enter.native="getDataList()">
          <el-form-item>
              <el-input v-model="dataForm.empCode" placeholder="工号" clearable></el-input>
          </el-form-item>
          <el-form-item>
              <el-input v-model="dataForm.empFname" placeholder="姓名" clearable></el-input>
          </el-form-item>
          <el-form-item>
              <ren-dept-tree v-model="dataForm.deptId" :placeholder="$t('dept.title')" :query="true"></ren-dept-tree>
          </el-form-item>
          <el-form-item>
              <el-button @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
          </el-form-item>
          <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
              <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
              <el-table-column prop="empCode" label="工号" header-align="center" align="center"></el-table-column>
              <el-table-column prop="cardId" label="卡号" header-align="center" align="center"></el-table-column>
              <el-table-column prop="cardNumber" label="卡编号" header-align="center" align="center"></el-table-column>
              <el-table-column prop="empFname" label="姓名" header-align="center" align="center"></el-table-column>
              <el-table-column prop="deptName" label="部门名称" header-align="center" align="center"></el-table-column>
          </el-table>
          <el-pagination
                  :current-page="page"
                  :page-sizes="[10, 20, 50, 100]"
                  :page-size="limit"
                  :total="total"
                  layout="total, sizes, prev, pager, next, jumper"
                  @size-change="pageSizeChangeHandle"
                  @current-change="pageCurrentChangeHandle">
          </el-pagination>
          <el-form-item label="" lable-width="0px" prop="deptId">
              <ren-dept-tree v-model="dataForm.deptId" placeholder="请选择新部门" :query="true"></ren-dept-tree>
          </el-form-item>
          <el-row>
              <el-input
                      type="textarea"
                      :rows="2"
                      placeholder="请输入异动原因"
                      v-model="dataForm.chagesCause">
              </el-input>
          </el-row>
      </el-form>
    <template slot="footer">
      <el-button @click="visible = false" size="mini" round>{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()" size="mini" round>{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
import mixinViewModule from '@/mixins/view-module'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      visible: false,
      textarea: '',
      mixinViewModuleOptions: {
        getDataListURL: '/function/rsemployee/pageList',
        getDataListIsPage: true
      },
      dataForm: {
        empCode: '',
        empFname: '',
        deptName: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        empCode: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        empFname: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        departId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        newdepartId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        changesDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        chagesCause: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        remarks: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 多选
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
      console.log(val)
    },
    // 获取信息
    /* getInfo () {
      this.$http.get(`/function/rsdeptchanges/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    }, */
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      var a = {}
      a.dataForm = this.dataForm
      a.dataListSelections = this.dataListSelections

      // console.log(twoJsonMerge(this.dataForm, this.dataListSelections))
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/function/rsdeptchanges/insertRsDeptChanges', a).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
