<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-function__rsdeptchanges}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.empCode" placeholder="员工编号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.empFname" placeholder="姓名" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <ren-dept-tree v-model="dataForm.departId" placeholder="请选择原部门" :query="true"></ren-dept-tree>
        </el-form-item>
        <el-form-item>
          <ren-dept-tree v-model="dataForm.newdepartId" placeholder="请选择新部门" :query="true"></ren-dept-tree>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" size="mini" round @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsdeptchanges:save')" size="mini" round type="primary" @click="addOrUpdateHandle()">新增部门异动</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsdeptchanges:delete')" size="mini" round type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="empCode" label="工号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="empFname" label="姓名" header-align="center" align="center"></el-table-column>
        <el-table-column prop="deptName" label="原部门" header-align="center" align="center"></el-table-column>
        <el-table-column prop="newdeptName" label="新部门" header-align="center" align="center"></el-table-column>
        <el-table-column prop="changesDate" label="异动时间" header-align="center" align="center"></el-table-column>
        <el-table-column prop="userName" label="操作员" header-align="center" align="center"></el-table-column>
        <el-table-column prop="chagesCause" label="异动原因" header-align="center" align="center"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('function:rsdeptchanges:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './rsdeptchanges-add-or-update'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/function/rsdeptchanges/pageList',
        getDataListIsPage: true,
        exportURL: '/function/rsdeptchanges/export',
        deleteURL: '/function/rsdeptchanges',
        deleteIsBatch: true
      },
      dataForm: {
        id: ''
      }
    }
  },
  components: {
    AddOrUpdate
  }
}
</script>
