<template>
  <el-card shadow="never"  class="aui-card--fill">
    <div class="mod-function__rsemployee}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.empCode" placeholder="工号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.empFname" placeholder="姓名" clearable></el-input>
        </el-form-item>
          <el-form-item>
              <el-select v-model="dataForm.isleaved" clearable placeholder="是否离职">
                  <el-option
                          v-for="item in options"
                          :key="item.isleaved"
                          :label="item.label"
                          :value="item.isleaved">
                  </el-option>
              </el-select>
          </el-form-item>
          <el-form-item>
              <ren-dept-tree v-model="dataForm.deptId" :placeholder="$t('dept.title')" :query="true"></ren-dept-tree>
          </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
        </el-form-item>
        <!--导入-->
        <el-form-item>
          <el-popover
                  ref="popover4"
                  placement="bottom"
                  width="600"
                  trigger="click">
              <el-form-item>
                <el-card class="uploadMain">
                  <div class="uploadTitle">导入文件</div>
                  <div class="uploadContent">
                    <span>文件地址：</span>
                    <el-input type="text" class="showFileName" v-model="uploadFileName" value="uploadFileName"></el-input>&nbsp;
                    <el-upload
                            class="uploadStyle"
                            action=""
                            :show-file-list="false"
                            :http-request="getFileMsg">
                      <el-button icon="el-icon-view" size="mini" round type="primary">浏览</el-button>&nbsp;
                    </el-upload>
                    <el-button icon="el-icon-upload" size="mini" round class="uploadStyle" type="primary" @click.prevent="uploadExc" >导入</el-button>
                    <p style="color: #e6444a">说明:</p>
                    <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                    <br/>
                    <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                    <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                    <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                  </div>
                </el-card>
              </el-form-item>
          </el-popover>
          <el-button v-popover:popover4 size="mini" round>Excel</el-button>
        </el-form-item>
        <!--导入end-->
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsemployee:save')" size="mini" round type="primary" @click="addOrUpdateHandletoo()">{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsemployee:delete')"  size="mini" round type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="empCode" label="工号" fixed="left" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardId" label="卡号"  fixed="left" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardNumber" label="卡编号" fixed="left" header-align="center" align="center"></el-table-column>
        <el-table-column prop="empFname" label="姓名" fixed="left" header-align="center" align="center"></el-table-column>
        <el-table-column prop="deptName" label="部门名称" fixed="left" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sex" label="性别"  header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("sex", scope.row.sex) }}
          </template>
        </el-table-column>
        <el-table-column prop="empLname" label="拼音简写" header-align="center" align="center"></el-table-column>
        <el-table-column prop="idCard" label="身份证号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="idcardOrg" label="签发机关" header-align="center" align="center"></el-table-column>
        <el-table-column prop="address" label="家庭地址" header-align="center" align="center"></el-table-column>
        <el-table-column prop="postCode" label="邮编" header-align="center" align="center"></el-table-column>
        <el-table-column prop="stationId" label="岗位" header-align="center" align="center"></el-table-column>
        <el-table-column prop="jobId" label="职位" header-align="center" align="center"></el-table-column>
        <el-table-column prop="eduId" label="最好学历" header-align="center" align="center"></el-table-column>
        <el-table-column prop="birthDate" label="出生日期" header-align="center" align="center"></el-table-column>
        <el-table-column prop="marriage" label="婚否" header-align="center" align="center"></el-table-column>
        <el-table-column prop="nativeId" label="籍贯省份" header-align="center" align="center"></el-table-column>
        <el-table-column prop="nationId" label="民族" header-align="center" align="center"></el-table-column>
        <el-table-column prop="email" label="Email" header-align="center" align="center"></el-table-column>
        <el-table-column prop="tel" label="电话" header-align="center" align="center"></el-table-column>
        <el-table-column prop="linkMan" label="联系人" header-align="center" align="center"></el-table-column>
        <el-table-column prop="hireDate" label="入职时间" header-align="center" align="center"></el-table-column>
        <el-table-column prop="issued" label="是否发卡" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sfdka" label="是否免打卡" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("sfdka", scope.row.sfdka) }}
          </template>
        </el-table-column>
        <el-table-column prop="isleaved" label="是否离职" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("isleaved", scope.row.isleaved) }}
          </template>
        </el-table-column>
        <el-table-column prop="leaveDate" label="离职日期" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardbegdate" label="发卡日期" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardenddate" label="卡片有效期" header-align="center" align="center"></el-table-column>
        <el-table-column prop="dormId" label="宿舍" header-align="center" align="center"></el-table-column>
        <el-table-column prop="bedId" label="床位" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardtype" label="刷卡类别" header-align="center" align="center"></el-table-column>
        <el-table-column prop="carNo" label="车牌号码" header-align="center" align="center"></el-table-column>
        <el-table-column prop="accessPwd" label="个人密码" header-align="center" align="center"></el-table-column>
        <el-table-column prop="ismeal" label="是否开通消费" header-align="center" align="center"></el-table-column>
        <el-table-column prop="isdoor" label="是否开通门禁" header-align="center" align="center"></el-table-column>
        <el-table-column prop="iscar" label="是否开通车辆通行" header-align="center" align="center"></el-table-column>
        <el-table-column prop="openid" label="微信绑定号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="isPic" label="是否有照片" header-align="center" align="center"></el-table-column>
        <el-table-column prop="picPath" label="照片路径" header-align="center" align="center"></el-table-column>
        <el-table-column prop="remark" label="备注" header-align="center" align="center"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('function:rsemployee:update')" type="text" size="small" @click="addOrUpdateHandletoo(scope.row.empId)">{{ $t('update') }}</el-button>
            <el-button v-if="$hasPermission('function:rsemployee:delete')" type="text" size="small" @click="deleteHandle(scope.row.empId)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './rsemployee-add-or-update'
import AddOrExcel from './rsemployee-Excel'
import Cookies from 'js-cookie'
export default {
  mixins: [mixinViewModule],
  name: 'importFile',
  data () {
    return {
      uploadFileName: '',
      uploadFileMsg: {},
      options: [{
        isleaved: '0',
        label: '否'
      }, {
        isleaved: '1',
        label: '是'
      }],
      mixinViewModuleOptions: {
        getDataListURL: '/function/rsemployee/pageList',
        getDataListIsPage: true,
        exportURL: '/function/rsemployee/export',
        deleteURL: '/function/rsemployee',
        deleteIsBatch: true
      },
      dataForm: {
        empCode: '',
        empFname: '',
        deptName: '',
        isleaved: ''
      }
    }
  },
  methods: {
    getFileMsg (content) {
      this.uploadFileName = content.file.name
      this.uploadFileMsg = content
    },
    cancelUpload () {
      this.uploadFileName = ''
      this.uploadFileMsg = ''
    },
    uploadExc () {
      if (this.uploadFileName === '') {
        this.$alert('请先选择一个文件', '', {
          confirmButtonText: '确定'
        })
        this.uploadFileName = ''
      } else if (this.uploadFileMsg.file.type !== 'application/vnd.ms-excel') {
        this.$message.error('您导入的文件非excel格式，请重新选择！')
      } else {
        // 发送请求
        const formData = new FormData()
        const arr = Object.keys(this.uploadFileMsg)
        arr.forEach(item => {
          formData.append(item, this.uploadFileMsg[item])
          formData.append('token', Cookies.get('token'))
        })
        this.$http['post']('/function/rsemployee/import?', formData).then(({ data: res }) => {
          if (res.code !== 0) {
            this.$message.error(res.msg)
            if (this.callbacks.taskHandleErrorCallback) {
              this.callbacks.taskHandleErrorCallback(res)
            }
            return
          }
          this.$message({
            message: this.$t('导入人事资料成功！------请重新刷新页面！'),
            type: 'success',
            duration: 3000,

            onClose: () => {
              this.visible = false
              if (this.callbacks.taskHandleSuccessCallback) {
                this.callbacks.taskHandleSuccessCallback(res)
              }
            }
          })
        })
      }
    }
  },
  components: {
    AddOrUpdate,
    AddOrExcel
  }
}
</script>
<style scope="scoped">
  .uploadMain {
    width: 100%;
    height: 40%;
    margin: 0px;
  }
  .uploadMain .uploadTitle {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #333;
  }
  .uploadMain .uploadContent {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .uploadMain .showFileName {
    width: 200px;
    height: 46px;
    text-align: center;
  }
  .uploadMain .showFileName .el-input__inner {
    height: 40px;
  }
  .uploadMain .uploadStyle {
    display: inline-block;
  }
</style>
