<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.empId ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
      <el-tabs v-model="activeName" type="border-card" >
          <el-tab-pane label="基础信息" name="first">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
       <table style="height: 50px">
        <tr>
            <td>
        <el-form-item label="工号" prop="empCode">
            <el-input  size="mini" v-model="dataForm.empCode" placeholder="工号"></el-input>
        </el-form-item>
            </td>
            <td>
                <el-form-item label="姓名" prop="empFname">
                    <el-input size="mini" v-model="dataForm.empFname" placeholder="姓名"></el-input>
                </el-form-item>
            </td>
            <td>
                <el-form-item prop="deptName" :label="$t('user.deptName')">
                    <ren-dept-tree v-model="dataForm.deptId" :placeholder="$t('dept.title')" :dept-name.sync="dataForm.deptName"></ren-dept-tree>
                </el-form-item>
            </td>
            <td rowspan="3">
                <el-upload
                        class="avatar-uploader"
                        action="http://localhost:8080/renren-admin/function/rsemployee/uploadImg"
                        multipl
                        :headers="myHeaders"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="dataForm.imageUrl" :src="dataForm.imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </td>
        </tr>
        <tr>
            <td>
                <el-form-item label="身份证号" prop="idCard">
                    <el-input size="mini" v-model="dataForm.idCard" placeholder="身份证号码"></el-input>
                </el-form-item>
            </td>
            <td>
                <el-form-item label="签发机关" prop="idcardOrg">
                    <el-input size="mini" v-model="dataForm.idcardOrg" placeholder="签发机关"></el-input>
                </el-form-item>
            </td>
            <td>
                <el-form-item label="邮编" prop="postCode">
                    <el-input size="mini" v-model="dataForm.postCode" placeholder="邮编"></el-input>
                </el-form-item>
            </td>
        </tr>
        <tr>
            <td>
                <el-form-item label="卡编号" prop="cardNumber">
                    <el-input size="mini" v-model="dataForm.cardNumber" placeholder="卡编号"></el-input>
                </el-form-item>
            </td>
            <td>
          <el-form-item label="性别" prop="sex">
              <el-select v-model="dataForm.sex" placeholder="请选择">
                  <el-option
                          v-for="item in optionssex"
                          :key="item.value1 "
                          :label="item.label"
                          :value="item.value1">
                  </el-option>
              </el-select>
      </el-form-item>
            </td>
            <td>
          <el-form-item label="拼音简写" prop="empLname">
          <el-input size="mini" v-model="dataForm.empLname" placeholder="拼音简写"></el-input>
      </el-form-item>
            </td>
        </tr>
        <tr>
            <td>
                <el-form-item label="职位" prop="jobId">
                    <el-input size="mini" v-model="dataForm.jobId" placeholder="职位"></el-input>
                </el-form-item>
            </td>
        </tr>
       </table>
        <el-row>
            <el-col :span="16">
          <el-form-item label="家庭地址" prop="address">
          <el-input size="mini" v-model="dataForm.address" placeholder="家庭地址"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="个人密码" prop="accessPwd">
                    <el-input size="mini" v-model="dataForm.accessPwd" placeholder="个人密码"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="最好学历" prop="eduId">
          <el-input size="mini" v-model="dataForm.eduId" placeholder="最好学历"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item id="bir" label="出生日期" prop="birthDate">
              <el-date-picker
                      size="mini"
                      v-model="dataForm.birthDate"
                      type="datetime"
                      placeholder="选择出生日期">
              </el-date-picker>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="婚否" prop="marriage">
              <el-select size="mini"     v-model="dataForm.marriage" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="籍贯省份" prop="nativeId">
          <el-input size="mini" v-model="dataForm.nativeId" placeholder="籍贯省份"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="民族" prop="nationId">
          <el-input size="mini" v-model="dataForm.nationId" placeholder="民族"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="Email" prop="email">
          <el-input size="mini" v-model="dataForm.email" placeholder="Email"></el-input>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="电话" prop="tel">
          <el-input size="mini" v-model="dataForm.tel" placeholder="电话"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="联系人" prop="linkMan">
          <el-input size="mini" v-model="dataForm.linkMan" placeholder="联系人"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="入职时间" prop="hireDate">
              <el-date-picker
                      size="mini"
                      v-model="dataForm.hireDate"
                      type="datetime"
                      placeholder="选择入职时间">
              </el-date-picker>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="是否发卡" prop="issued">
              <el-select size="mini" v-model="dataForm.issued" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="是否离职" prop="isleaved">
              <el-select size="mini" v-model="dataForm.isleaved" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="发卡日期" prop="cardbegdate">
              <el-date-picker size="mini"
                      v-model="dataForm.cardbegdate"
                      type="datetime"
                      placeholder="选择发卡日期">
              </el-date-picker>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item id="cardend" label="卡有效期" prop="cardenddate">
              <el-date-picker size="mini"
                      v-model="dataForm.cardenddate"
                      type="datetime"
                      placeholder="选择卡片有效期">
              </el-date-picker>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="刷卡类别" prop="cardtype">
          <el-input size="mini" v-model="dataForm.cardtype" placeholder="刷卡类别"></el-input>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="启用消费" prop="ismeal">
              <el-select size="mini" v-model="dataForm.ismeal" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="启用门禁" prop="isdoor">
              <el-select size="mini" v-model="dataForm.isdoor" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="车辆通行" prop="iscar">
              <el-select size="mini" v-model="dataForm.iscar" placeholder="请选择">
                  <el-option
                          v-for="item in optionsfdka"
                          :key="item.value "
                          :label="item.label"
                          :value="item.value">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
        </el-row>
      </el-form>
          </el-tab-pane>
          <!--更多信息-->
          <el-tab-pane label="更多信息" name="second">
              <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
                  <el-row>
                      <el-col :span="8">
                          <el-form-item label="卡号" prop="cardId">
                              <el-input size="mini" v-model="dataForm.cardId" placeholder="卡号"></el-input>
                          </el-form-item>
                      </el-col>
                      <el-col :span="8">
                  <el-form-item label="免打卡" prop="sfdka">
                      <el-select size="mini" v-model="dataForm.sfdka" placeholder="请选择">
                          <el-option
                                  v-for="item in optionsfdka"
                                  :key="item.value "
                                  :label="item.label"
                                  :value="item.value">
                          </el-option>
                      </el-select>
                  </el-form-item>
                      </el-col>
                      <el-col :span="8">
                  <el-form-item  id="leaveDate" label="离职日期" prop="leaveDate">
                      <el-date-picker size="mini"
                              v-model="dataForm.leaveDate"
                              type="datetime"
                              placeholder="选择离职日期">
                      </el-date-picker>
                  </el-form-item>
                      </el-col>
                  </el-row>
                  <el-row>
                      <el-col :span="8">
                          <el-form-item label="宿舍" prop="dormId">
                              <el-input size="mini" v-model="dataForm.dormId" placeholder="宿舍"></el-input>
                          </el-form-item>
                      </el-col>
                      <el-col :span="8">
                  <el-form-item label="床位" prop="bedId">
                      <el-input size="mini" v-model="dataForm.bedId" placeholder="床位"></el-input>
                  </el-form-item>
                      </el-col>
                      <el-col :span="8">
                  <el-form-item label="车牌号码" prop="carNo">
                      <el-input  size="mini" v-model="dataForm.carNo" placeholder="车牌号码"></el-input>
                  </el-form-item>
                      </el-col>
                  </el-row>
                  <el-row>
                      <el-col :span="8">
                  <el-form-item label="照片" prop="isPic">
                      <el-select size="mini" v-model="dataForm.isPic" placeholder="请选择">
                          <el-option
                                  v-for="item in optionsfdka"
                                  :key="item.value "
                                  :label="item.label"
                                  :value="item.value">
                          </el-option>
                      </el-select>
                  </el-form-item>
                      </el-col>
                      <el-col :span="8">
                          <el-form-item label="微信绑定" prop="openid">
                              <el-input size="mini" v-model="dataForm.openid" placeholder="微信绑定号"></el-input>
                          </el-form-item>
                      </el-col>
                      <el-col :span="8">
                  <el-form-item label="照片路径" prop="picPath">
                      <el-input size="mini" v-model="dataForm.picPath" placeholder="照片路径"></el-input>
                  </el-form-item>
                      </el-col>
                  </el-row>
                  <el-form-item label="备注" prop="remark">
                      <el-input size="mini" v-model="dataForm.remark" placeholder="备注"></el-input>
                  </el-form-item>
                      <el-form-item label="岗位" prop="stationId">
                          <el-input size="mini" v-model="dataForm.stationId" placeholder="岗位"></el-input>
                      </el-form-item>
              </el-form>
          </el-tab-pane>
      </el-tabs>
    <template slot="footer">
      <el-button @click="visible = false" size="mini" round>{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()" size="mini" round>{{ $t('confirm') }}</el-button>
    </template>

  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
import Cookies from 'js-cookie'
export default {
  data () {
    return {
      myHeaders: {
        token: Cookies.get('token')
      },
      activeName: 'first',
      imageFile: '',
      visible: false,
      optionsfdka: [{
        value: 0,
        label: '否'
      }, {
        value: 1,
        label: '是'
      }],
      optionssex: [{
        value1: 0,
        label: '男'
      }, {
        value1: 1,
        label: '女'
      }],
      dataForm: {
        imageUrl: '',
        empId: '',
        empCode: '',
        cardId: '',
        cardNumber: '',
        empFname: '',
        sex: '',
        empLname: '',
        idCard: '',
        idcardOrg: '',
        idcardBegin: '',
        idcardEnd: '',
        address: '',
        postCode: '',
        deptName: '',
        stationId: '',
        jobId: '',
        eduId: '',
        birthDate: '',
        marriage: '',
        nativeId: '',
        nationId: '',
        email: '',
        tel: '',
        linkMan: '',
        hireDate: '',
        issued: '',
        sfdka: '',
        isleaved: '',
        leaveDate: '',
        cardbegdate: '',
        cardenddate: '',
        dormId: '',
        bedId: '',
        cardtype: '',
        carNo: '',
        accessPwd: '',
        ismeal: '',
        isdoor: '',
        iscar: '',
        openid: '',
        isPic: '',
        picPath: '',
        remark: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        cardId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        empFname: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        departId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        empCode: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        deptName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.empId) {
          this.getInfo()
        } else {
          this.dataForm.deptName = ''
          this.dataForm.imageUrl = ''
          this.dataForm.empCode = ''
          this.dataForm.empFname = ''
          this.dataForm.cardId = ''
          this.dataForm.sex = ''
          this.dataForm.empLname = ''
          this.dataForm.idCard = ''
          this.dataForm.idcardOrg = ''
          this.dataForm.idcardBegin = ''
          this.dataForm.idcardEnd = ''
          this.dataForm.address = ''
          this.dataForm.postCode = ''
          this.dataForm.deptId = ''
          this.dataForm.cardNumber = ''
          this.dataForm.eduId = ''
          this.dataForm.birthDate = ''
          this.dataForm.marriage = ''
          this.dataForm.nativeId = ''
          this.dataForm.nationId = ''
          this.dataForm.email = ''
          this.dataForm.tel = ''
          this.dataForm.linkMan = ''
          this.dataForm.hireDate = ''
          this.dataForm.issued = ''
          this.dataForm.sfdka = ''
          this.dataForm.isleaved = ''
          this.dataForm.leaveDate = ''
          this.dataForm.cardbegdate = ''
          this.dataForm.cardenddate = ''
          this.dataForm.cardtype = ''
          this.dataForm.ismeal = ''
          this.dataForm.isdoor = ''
          this.dataForm.iscar = ''
        }
      })
    },
    uploadImg (param, empCode) {
      var data = new FormData() // 创建form对象
      data.append('file', param)
      data.append('empCode', empCode)
      this.$http['post']('/function/rsemployee/uploadImg?', data).then(({ data: res }) => {
        if (res.code !== 0) {
          this.$message.error(res.msg)
          if (this.callbacks.taskHandleErrorCallback) {
            this.callbacks.taskHandleErrorCallback(res)
          }
        }
      })
    },
    handleAvatarSuccess (res, file) {
      this.dataForm.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      this.imageFile = file
      return isJPG && isLt2M
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/function/rsemployee/${this.dataForm.empId}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
        this.dataForm.imageUrl = ''
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.empId ? 'post' : 'put']('/function/rsemployee/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }

          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
          this.uploadImg(this.imageFile, this.dataForm.empCode)
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
<style>
    .el-dialog {
        margin: 0 auto !important;
        height: 80%;
        overflow: hidden;
        top: 80px;
    }
    .el-dialog__body {
        position: absolute;
        left: 0;
        top: 54px;
        bottom: 100px;
        right: 0;
        padding: 0;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .el-dialog__footer {
        text-align: center!important;
        padding: 22px 20px 12px 20px!important;
        border-top: 450px solid #f4f4f4;
    }
    #bir .el-input__inner{
        width: 90%;
    }
    #cardend .el-input__inner{
        width: 90%;
    }
    #leaveDate .el-input__inner{
        width: 90%;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .el-form-item is-required el-form-item--default{
        height: 20px;
    }
</style>
