<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-function__rsleavemanagement}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.empCode" placeholder="工号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.empFname" placeholder="姓名" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-select v-model="dataForm.leaveType" placeholder="请选择离职类型">
            <el-option
                    v-for="item in options"
                    :key="item.leaveType"
                    :label="item.label"
                    :value="item.leaveType">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-date-picker
                  v-model="daterange"
                  type="daterange"
                  value-format="yyyy-MM-dd"
                  :range-separator="$t('datePicker.range')"
                  :start-placeholder="$t('datePicker.start')"
                  :end-placeholder="$t('datePicker.end')">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" size="mini" round @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsdeptchanges:save')" size="mini" round type="primary" @click="addOrUpdateHandle()">新增离职</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:rsleavemanagement:delete')" size="mini" round type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="empCode" label="工号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="empFname" label="姓名" header-align="center" align="center"></el-table-column>
        <el-table-column prop="cardId" label="卡号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="deptName" label="部门" header-align="center" align="center"></el-table-column>
        <el-table-column prop="leaveType" label="离职类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("leaveType", scope.row.leaveType) }}
          </template>
        </el-table-column>
        <el-table-column prop="leaveDate" label="离职时间" header-align="center" align="center"></el-table-column>
        <el-table-column prop="operator" label="经手人" header-align="center" align="center"></el-table-column>
        <el-table-column prop="leaveReason" label="离职原因" header-align="center" align="center"></el-table-column>
        <el-table-column prop="handleType" label="处理方式" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("handleType", scope.row.handleType) }}
          </template>
        </el-table-column>
        <el-table-column prop="userName" label="创建者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('function:rsleavemanagement:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './rsleavemanagement-add-or-update'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/function/rsleavemanagement/pageList',
        getDataListIsPage: true,
        exportURL: '/function/rsleavemanagement/export',
        deleteURL: '/function/rsleavemanagement',
        deleteIsBatch: true
      },
      options: [{
        leaveType: '0',
        label: '辞职'
      }, {
        leaveType: '1',
        label: '自动离职'
      }],
      daterange: null,
      leaveDate: {
        kaishi: '',
        jieshu: ''
      },
      dataForm: {
        id: '',
        startDate: '',
        endDate: ''
      }
    }
  },
  watch: {
    daterange (val) {
      this.dataForm.startDate = val[0]
      this.dataForm.endDate = val[1]
    }
  },

  components: {
    AddOrUpdate
  }
}
</script>
<style lang="css">
  .el-dialog {
    margin: 0 auto !important;
    height: 80%;
    overflow: hidden;
    top: 80px;
  }
  .el-dialog__body {
    position: absolute;
    left: 0;
    top: 54px;
    bottom: 100px;
    right: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    overflow-y: auto;
  }
  .el-dialog__footer {
    text-align: center!important;
    padding: 22px 20px 12px 20px!important;
    border-top: 450px solid #f4f4f4;
  }
</style>
