<template>
    <el-dialog :visible.sync="visible" title='离职管理' :close-on-click-modal="false" :close-on-press-escape="false">
        <el-form :inline="true" :model="dataForm" ref="dataForm" @keyup.enter.native="getDataList()">
            <el-form-item>
                <el-input v-model="dataForm.empCode" placeholder="工号" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="dataForm.empFname" placeholder="姓名" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <ren-dept-tree v-model="dataForm.deptId" :placeholder="$t('dept.title')" :query="true" ></ren-dept-tree>
            </el-form-item>
            <el-form-item>
                <el-button  @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
            </el-form-item>
            <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
                <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
                <el-table-column prop="empCode" label="工号" header-align="center" align="center"></el-table-column>
                <el-table-column prop="cardId" label="卡号" header-align="center" align="center"></el-table-column>
                <el-table-column prop="cardNumber" label="卡编号" header-align="center" align="center"></el-table-column>
                <el-table-column prop="empFname" label="姓名" header-align="center" align="center"></el-table-column>
                <el-table-column prop="deptName" label="部门名称" header-align="center" align="center"></el-table-column>
            </el-table>
            <el-pagination
                    :current-page="page"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="limit"
                    :total="total"
                    layout="total, sizes, prev, pager, next, jumper"
                    @size-change="pageSizeChangeHandle"
                    @current-change="pageCurrentChangeHandle">
            </el-pagination>
            <el-select v-model="dataForm.leaveType" placeholder="请选择离职类型">
                <el-option
                        v-for="item in options"
                        :key="item.leaveType"
                        :label="item.label"
                        :value="item.leaveType">
                </el-option>
            </el-select>
            <el-select v-model="dataForm.handleType" placeholder="请选择处理方式">
                <el-option
                        v-for="item in optype"
                        :key="item.handleType"
                        :label="item.label"
                        :value="item.handleType">
                </el-option>
            </el-select>
            <div class="block">
                <el-date-picker
                        v-model="dataForm.leaveDate"
                        type="datetime"
                        placeholder="选择日期时间"
                        align="center"
                        :picker-options="pickerOptions">
                </el-date-picker>
            </div>
            <el-row>
                <el-input
                        type="textarea"
                        :rows="2"
                        placeholder="请输入离职原因"
                        v-model="dataForm.leaveReason">
                </el-input>
            </el-row>
        </el-form>
        <template slot="footer">
            <el-button @click="visible = false" size="mini" round>{{ $t('cancel') }}</el-button>
            <el-button type="primary" @click="dataFormSubmitHandle()" size="mini" round>{{ $t('confirm') }}</el-button>
        </template>
    </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
import mixinViewModule from '@/mixins/view-module'
export default {
  props: {
    deptList: {
      type: Array,
      default () {
        return []
      }
    }
  },
  mixins: [mixinViewModule],
  data () {
    return {
      visible: false,
      options: [{
        leaveType: '0',
        label: '辞职'
      }, {
        leaveType: '1',
        label: '自动离职'
      }],
      optype: [{
        handleType: '0',
        label: '仅将人事档案类型设为离职'
      }, {
        handleType: '1',
        label: '转入员工离职库'
      }],
      pickerOptions: {
        shortcuts: [{
          text: '今天',
          onClick (picker) {
            picker.$emit('pick', new Date())
          }
        }, {
          text: '昨天',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24)
            picker.$emit('pick', date)
          }
        }]
      },
      value: '',
      textarea: '',
      mixinViewModuleOptions: {
        getDataListURL: '/function/rsemployee/pageList',
        getDataListIsPage: true
      },
      dataForm: {
        leaveType: '',
        leaveDate: '',
        leaveReason: '',
        handleType: '',
        isleaved: '0'
      }
    }
  },
  computed: {
    dataRule () {
      return {
        empCode: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/function/rsleavemanagement/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 多选
    dataListSelectionChangeHandle (val) {
      var a = {}
      a.dataForm = this.dataForm
      a.dataListSelections = this.dataListSelections
      this.dataListSelections = val
    },
    getDeptList (id) {
      return this.$http.get('/sys/dept/list').then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.deptList = res.data
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(id)
          this.expandedKeys = [id]
        })
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      var a = {}
      a.dataForm = this.dataForm
      a.dataListSelections = this.dataListSelections
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/function/rsleavemanagement/insertRsLeaveManagement', a).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
<style lang="css">
    .el-dialog {
        margin: 0 auto !important;
        height: 80%;
        overflow: hidden;
        top: 80px;
    }
    .el-dialog__body {
        position: absolute;
        left: 0;
        top: 54px;
        bottom: 100px;
        right: 0;
        padding: 0;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .el-dialog__footer {
        text-align: center!important;
        padding: 22px 20px 12px 20px!important;
        border-top: 450px solid #f4f4f4;
    }
</style>
