<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.tdAreaId ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="设备编号" prop="tdManagerId">
          <el-input v-model="dataForm.tdManagerId" placeholder="设备编号"></el-input>
      </el-form-item>
          <el-form-item label="商户编号" prop="tdAreaid">
          <el-input v-model="dataForm.tdAreaid" placeholder="商户编号"></el-input>
      </el-form-item>
          <el-form-item label="创建人编号" prop="operatorId">
          <el-input v-model="dataForm.operatorId" placeholder="创建人编号"></el-input>
      </el-form-item>
          <el-form-item label="创建时间" prop="createTime">
          <el-input v-model="dataForm.createTime" placeholder="创建时间"></el-input>
      </el-form-item>
      </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        tdAreaId: '',
        tdManagerId: '',
        tdAreaid: '',
        operatorId: '',
        createTime: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        tdManagerId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        tdAreaid: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        operatorId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        createTime: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.tdAreaId) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/function/tdareamanager/${this.dataForm.tdAreaId}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.tdAreaId ? 'post' : 'put']('/function/tdareamanager/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
