<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-function__tdmanager}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.tdManagerId" placeholder="设备编号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.name" placeholder="设备名称" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.ip" placeholder="ip地址" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-select v-model="dataForm.deviceType" placeholder="请选择" clearable>
            <el-option
                    v-for="item in optype"
                    :key="item.deviceType + '^-^' "
                    :label="item.label"
                    :value="item.deviceType">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button  @click="getDataList()" size="mini" round>{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" size="mini" round @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:tdmanager:save')" size="mini" round type="primary" @click="addOrUpdateHandle()">{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:tdmanager:delete')" size="mini" round type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="tdManagerId" label="设备号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="name" label="设备名称" header-align="center" align="center"></el-table-column>
        <el-table-column prop="communicationPattern" label="通讯方式" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("communicationPattern", scope.row.communicationPattern) }}
          </template>
        </el-table-column>
        <el-table-column prop="sataId" label="串口号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="ip" label="ip地址" header-align="center" align="center"></el-table-column>
        <el-table-column prop="serialNumber" label="序列号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="discernType" label="识别类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("discernType", scope.row.discernType) }}
          </template>
        </el-table-column>
        <el-table-column prop="deviceType" label="设备类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("deviceType", scope.row.deviceType) }}
          </template>
        </el-table-column>
        <el-table-column prop="posName" label="商户" header-align="center" align="center"></el-table-column>
        <el-table-column prop="tdName" label="区域" header-align="center" align="center"></el-table-column>
        <el-table-column prop="deviceModel" label="设备型号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="communicationPort" label="通讯端口" header-align="center" align="center"></el-table-column>
        <el-table-column prop="bps" label="波特率" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("bps", scope.row.bps) }}
          </template>
        </el-table-column>
        <el-table-column prop="accessType" label="出入类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("accessType", scope.row.accessType) }}
          </template>
        </el-table-column>
        <el-table-column prop="remarks" label="备注" header-align="center" align="center"></el-table-column>
        <el-table-column prop="username" label="创建者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"></el-table-column>

        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-switch
                    v-model="scope.row.on"
                    on-color="#00A854"
                    on-text="启动"
                    on-value="1"
                    off-color="#F04134"
                    off-text="禁止"
                    off-value="0"
                    @change="changeSwitch(scope.row)">
            </el-switch>
            <el-button v-if="$hasPermission('function:tdmanager:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.tdManagerId)">{{ $t('update') }}</el-button>
            <el-button v-if="$hasPermission('function:tdmanager:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './tdmanager-add-or-update'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      optype: [{
        deviceType: '0',
        label: '考勤机'
      }, {
        deviceType: '1',
        label: '消费机'
      }, {
        deviceType: '2',
        label: '门禁机'
      }, {
        deviceType: '3',
        label: '考勤门禁机'
      }],
      changeSwitch (data) {
        console.log(data.id)
      },
      mixinViewModuleOptions: {
        getDataListURL: '/function/tdmanager/pageList',
        getDataListIsPage: true,
        exportURL: '/function/tdmanager/export',
        deleteURL: '/function/tdmanager',
        deleteIsBatch: true
      },
      dataForm: {
        tdManagerId: '',
        name: '',
        ip: '',
        deviceType: '',
        type: '1'
      }
    }
  },
  components: {
    AddOrUpdate
  }
}
</script>
