<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
      <el-row>
        <el-col :span="8">
        <el-form-item label="机号" prop="tdManagerId">
            <el-input v-model="dataForm.tdManagerId" placeholder="设备号"></el-input>
        </el-form-item>
        </el-col>
          <el-col :span="8">
        <el-form-item label="设备名称" prop="name">
          <el-input v-model="dataForm.name" placeholder="设备名称"></el-input>
      </el-form-item>
          </el-col>
          <el-col :span="8">
          <el-form-item label="通讯方式" prop="communicationPattern" >
              <el-select v-model="dataForm.communicationPattern" placeholder="请选择" @change="change(dataForm.communicationPattern)">
                  <el-option
                          v-for="item in options"
                          :key="item.value1"
                          :label="item.label"
                          :value="item.value1">
                  </el-option>
              </el-select>
      </el-form-item>
        </el-col>
      </el-row>
      <el-row>
            <el-col :span="8">
          <el-form-item  label="串口号" prop="sataId">
              <el-select v-bind:disabled="isAble" v-model="dataForm.sataId" placeholder="请选择" >
                  <el-option
                          v-for="item in sataIdoptions"
                          :key="item.value6"
                          :label="item.label"
                          :value="item.value6">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="ip地址" prop="ip">
          <el-input v-bind:disabled="isAble2" v-model="dataForm.ip" placeholder="ip地址"></el-input>
      </el-form-item>
            </el-col>
                <el-col :span="8">
                    <el-form-item label="通讯端口" prop="communicationPort">
                        <el-input v-bind:disabled="isAble2" v-model="dataForm.communicationPort" placeholder="通讯端口"></el-input>
                    </el-form-item>
                </el-col>
      </el-row>
        <el-row>
            <el-col :span="8">
          <el-form-item label="识别类型" prop="discernType">
              <el-select v-model="dataForm.discernType" placeholder="请选择">
                  <el-option
                          v-for="item in optionsdiscernType"
                          :key="item.value2 "
                          :label="item.label"
                          :value="item.value2">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="设备类型" prop="deviceType">
              <el-select v-model="dataForm.deviceType" placeholder="请选择">
                  <el-option
                          v-for="item in optionsdeviceType"
                          :key="item.value3 "
                          :label="item.label"
                          :value="item.value3">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="设备型号" prop="deviceModel">
          <el-input v-model="dataForm.deviceModel" placeholder="设备型号"></el-input>
      </el-form-item>
            </el-col>
        </el-row>
        <el-row>
        <el-form-item label="所属商户" prop="posName" v-if="(dataForm.deviceType)=='0'">
            <ren-shanghu-tree v-model="dataForm.posOrgid" placeholder='请选择商户'  :dept-name.sync="dataForm.posName"></ren-shanghu-tree>
        </el-form-item>
        <el-form-item label="所属区域" prop="tdName" v-if="(dataForm.deviceType > 0)">
            <ren-quyu-tree v-model="dataForm.tdAreaid" placeholder='请选择区域' :dept-name.sync="dataForm.tdName"></ren-quyu-tree>
        </el-form-item>
        <el-col :span="8">
            <el-form-item label="序列号" prop="serialNumber">
                <el-input v-model="dataForm.serialNumber" placeholder="设备序列号"></el-input>
            </el-form-item>
        </el-col>
            <el-col :span="8">
          <el-form-item label="波特率" prop="bps">
              <el-select v-bind:disabled="isAble" v-model="dataForm.bps" placeholder="请选择">
                  <el-option
                          v-for="item in optionbps"
                          :key="item.value5 "
                          :label="item.label"
                          :value="item.value5">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="出入类型" prop="accessType">
              <el-select v-model="dataForm.accessType" placeholder="请选择">
                  <el-option
                          v-for="item in optionsaccessType"
                          :key="item.value4"
                          :label="item.label"
                          :value="item.value4">
                  </el-option>
              </el-select>
      </el-form-item>
            </el-col>
        </el-row>
          <el-form-item label="备注" prop="remarks">
          <el-input v-model="dataForm.remarks" placeholder="备注"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false" size="mini" round>{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()" size="mini" round>{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      hidden: ['quyu'],
      options: [{
        value1: '0',
        label: 'TCP'
      }, {
        value1: '1',
        label: '串口'
      }],
      optionsdiscernType: [{
        value2: '0',
        label: '卡片'
      }, {
        value2: '1',
        label: '人脸'
      }, {
        value2: '2',
        label: '卡+人脸'
      }],
      optionsdeviceType: [{
        value3: '0',
        label: '消费机'
      }, {
        value3: '1',
        label: '考勤机'
      }, {
        value3: '2',
        label: '门禁机'
      }, {
        value3: '3',
        label: '考勤门禁机'
      }],
      optionsaccessType: [{
        value4: '0',
        label: '不区分'
      }, {
        value4: '1',
        label: '进'
      }, {
        value4: '2',
        label: '出'
      }],
      optionbps: [{
        value5: '0',
        label: '9600'
      }, {
        value5: '1',
        label: '19200'
      }, {
        value5: '2',
        label: '38400'
      }, {
        value5: '3',
        label: '57600'
      }, {
        value5: '4',
        label: '115200'
      }],
      sataIdoptions: [{
        value6: '0',
        label: 'COM1'
      }, {
        value6: '1',
        label: 'COM2'
      }, {
        value6: '2',
        label: 'COM3'
      }, {
        value6: '3',
        label: 'COM4'
      }, {
        value6: '4',
        label: 'COM5'
      }, {
        value6: '5',
        label: 'COM6'
      }, {
        value6: '6',
        label: 'COM7'
      }, {
        value: '7',
        label: 'COM8'
      }, {
        value6: '8',
        label: 'COM9'
      }, {
        value6: '9',
        label: 'COM10'
      }, {
        value6: '10',
        label: 'COM11'
      }, {
        value6: '11',
        label: 'COM12'
      }, {
        value6: '12',
        label: 'COM13'
      }, {
        value6: '13',
        label: 'COM14'
      }, {
        value6: '14',
        label: 'COM15'
      }],

      visible: false,
      dataForm: {
        id: '',
        tdManagerId: '',
        name: '',
        communicationPattern: '0',
        sataId: '',
        ip: '',
        serialNumber: '',
        discernType: '',
        deviceType: '0',
        deviceModel: '',
        communicationPort: '',
        bps: '0',
        accessType: '0',
        remarks: '',
        creator: '',
        createDate: '',
        posOrgid: '',
        tdAreaid: '',
        tdName: '',
        posName: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        id: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        tdManagerId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        communicationPattern: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        discernType: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      var vm = this
      this.$http.post(`/function/tdmanager/getTdManager`, {
        id: this.dataForm.id
      }).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
        if (this.dataForm.communicationPattern === '0') {
          vm.isAble = true // 禁用
          vm.isAble2 = false // 开启
        }
        if (this.dataForm.communicationPattern === '1') {
          vm.isAble = false // 禁用
          vm.isAble2 = true // 开启
        }
      }).catch(() => {})
    },
    change (params) {
      var vm = this
      console.log('safd' + params)
      if (params === '0') {
        vm.isAble = true // 禁用
        vm.isAble2 = false // 开启
      }
      if (params === '1') {
        vm.isAble = false
        vm.isAble2 = true
      }
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/function/tdmanager/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
<style lang="css">
    .el-dialog {
        margin: 0 auto !important;
        height: 80%;
        overflow: hidden;
        top: 80px;
    }
    .el-dialog__body {
        position: absolute;
        left: 0;
        top: 54px;
        bottom: 100px;
        right: 0;
        padding: 0;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .el-dialog__footer {
        text-align: center!important;
        padding: 22px 20px 12px 20px!important;
        border-top: 450px solid #f4f4f4;
    }
</style>
