<template>
  <el-dialog :visible.sync="visible" title='添加设备' :close-on-click-modal="false" :close-on-press-escape="false">
      <el-form :inline="true" :model="dataForm" ref="dataForm" @keyup.enter.native="getInfo()">
          <el-form-item>
              <el-input v-model="dataForm.tdManagerId" placeholder="设备编号" clearable></el-input>
          </el-form-item>
          <el-form-item>
              <el-input v-model="dataForm.name" placeholder="设备名称" clearable></el-input>
          </el-form-item>
          <el-form-item>
              <el-input v-model="dataForm.ip" placeholder="ip地址" clearable></el-input>
          </el-form-item>
          <el-form-item>
              <el-select v-model="dataForm.deviceType" placeholder="请选择" clearable>
              <el-option
                      v-for="item in optype"
                      :key="item.deviceType"
                      :label="item.label"
                      :value="item.deviceType">
              </el-option>
              </el-select>
          </el-form-item>
          <el-form-item>
              <el-button @click="getInfo()" size="mini" round>{{ $t('query') }}</el-button>
          </el-form-item>
          <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
              <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
              <el-table-column prop="tdManagerId" label="设备号" header-align="center" align="center"></el-table-column>
              <el-table-column prop="name" label="设备名称" header-align="center" align="center"></el-table-column>
              <el-table-column prop="ip" label="ip地址" header-align="center" align="center"></el-table-column>
              <el-table-column prop="deviceType" label="设备类型" header-align="center" align="center">
                  <template slot-scope="scope">
                      {{ $getDictLabel("deviceType", scope.row.deviceType) }}
                  </template>
              </el-table-column>
          </el-table>
          <el-pagination
                  :current-page="page"
                  :page-sizes="[10, 20, 50, 100]"
                  :page-size="limit"
                  :total="total"
                  layout="total, sizes, prev, pager, next, jumper"
                  @size-change="pageSizeChangeHandle"
                  @current-change="pageCurrentChangeHandle">
          </el-pagination>
      </el-form>
    <template slot="footer">
      <el-button @click="visible = false" size="mini" round>{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()" size="mini" round>{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
import mixinViewModule from '@/mixins/view-module'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      optype: [{
        deviceType: '0',
        label: '考勤机'
      }, {
        deviceType: '1',
        label: '消费机'
      }, {
        deviceType: '2',
        label: '门禁机'
      }, {
        deviceType: '3',
        label: '考勤门禁机'
      }],
      dataListSelections: [],
      visible: false,
      tdList: [],
      textarea: '',
      mixinViewModuleOptions: {
        getDataListIsPage: true
      },
      dataForm: {
        id: '',
        userId: '',
        tdManagerId: '',
        name: '',
        ip: '',
        deviceType: ''
      }
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.dataForm.userId = this.dataForm.id
      this.$http.get(`/function/tdmanager/pageListoo`, {
        params: {
          order: this.order,
          orderField: this.orderField,
          page: this.mixinViewModuleOptions.getDataListIsPage ? this.page : null,
          limit: this.mixinViewModuleOptions.getDataListIsPage ? this.limit : null,
          ...this.dataForm
        }
      }).then(({ data: res }) => {
        this.dataListLoading = false
        if (res.code !== 0) {
          this.dataList = []
          this.total = 0
          // return this.$message.error(res.msg)
        }
        this.dataList = this.mixinViewModuleOptions.getDataListIsPage ? res.data.list : res.data
        this.total = this.mixinViewModuleOptions.getDataListIsPage ? res.data.total : 0
      }).catch(() => {
        this.dataListLoading = false
      })
    },
    // 多选
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 获取信息
    /* getInfo () {
      this.$http.get(`/function/rsdeptchanges/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    }, */
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      var a = {}
      a.dataForm = this.dataForm
      a.dataListSelections = this.dataListSelections

      // console.log(twoJsonMerge(this.dataForm, this.dataListSelections))
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http['post']('/function/tdmanager/updateTdList', a).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
