<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-sys__user">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.username" :placeholder="$t('user.username')" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <ren-select v-model="dataForm.gender" dict-type="gender" :placeholder="$t('user.gender')"></ren-select>
        </el-form-item>
          <el-form-item>
              <el-input v-model="dataForm.mobile" :placeholder="$t('user.mobile')" clearable></el-input>
          </el-form-item>
        <el-form-item>
          <ren-dept-tree v-model="dataForm.deptId" :placeholder="$t('dept.title')" :query="true"></ren-dept-tree>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()">{{ $t('query') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table
        v-loading="dataListLoading"
        :data="dataList"
        border
        @sort-change="dataListSortChangeHandle"
        @cell-click="handle"
        style="width: 100%;">
        <el-table-column prop="username" :label="$t('user.username')" sortable="custom" header-align="center" align="center"></el-table-column>
        <el-table-column prop="deptName" :label="$t('user.deptName')" header-align="center" align="center"></el-table-column>
        <el-table-column prop="email" :label="$t('user.email')" header-align="center" align="center"></el-table-column>
        <el-table-column prop="mobile" :label="$t('user.mobile')" sortable="custom" header-align="center" align="center"></el-table-column>
        <el-table-column prop="gender" :label="$t('user.gender')" sortable="custom" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("gender", scope.row.gender) }}
          </template>
        </el-table-column>
        <el-table-column prop="status" :label="$t('user.status')" sortable="custom" header-align="center" align="center">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 0" size="small" type="danger">{{ $t('user.status0') }}</el-tag>
            <el-tag v-else size="small" type="success">{{ $t('user.status1') }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="createDate" :label="$t('user.createDate')" sortable="custom" header-align="center" align="center" width="180"></el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
    <div>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-button v-if="$hasPermission('function:tduser:save')" size="mini" round type="primary" @click="addOrUpdateHandle(dataForm.userId)">添加终端</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('function:tduser:delete')" size="mini" round type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList2" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="tdManagerId" label="设备号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="name" label="设备名称" header-align="center" align="center"></el-table-column>
        <el-table-column prop="communicationPattern" label="通讯方式" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("communicationPattern", scope.row.communicationPattern) }}
          </template>
        </el-table-column>
        <el-table-column prop="sataId" label="串口号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="ip" label="ip地址" header-align="center" align="center"></el-table-column>
        <el-table-column prop="serialNumber" label="设备序列号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="discernType" label="识别类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("discernType", scope.row.discernType) }}
          </template>
        </el-table-column>
        <el-table-column prop="deviceType" label="设备类型" header-align="center" align="center">
          <template slot-scope="scope">
            {{ $getDictLabel("deviceType", scope.row.deviceType) }}
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
              :current-page="page"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="limit"
              :total="total2"
              layout="total, sizes, prev, pager, next, jumper"
              @size-change="pageSizeChangeHandle2"
              @current-change="pageCurrentChangeHandle2">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>

</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './tduser-add-or-update'
import debounce from 'lodash/debounce'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      total2: 0,
      mixinViewModuleOptions: {
        getDataListURL: '/sys/user/page',
        getDataListIsPage: true,
        deleteURL: '/sys/user',
        deleteIsBatch: true,
        exportURL: '/sys/user/export'
      },
      dataForm: {
        username: '',
        deptId: '',
        gender: '',
        userId: '',
        type: '2'
      },
      order2: '', // 排序，asc／desc
      orderField2: '', // 排序，字段
      page2: 1, // 当前页码
      limit2: 10, // 每页数
      total: 0, // 总条数
      dataListLoading: false, // 数据列表，loading状态
      dataListSelections: [], // 数据列表，多选项
      addOrUpdateVisible: false, // 新增／更新，弹窗visible状态
      dataList2: []
    }
  },
  components: {
    AddOrUpdate
  },
  /* mounted () {
    console.log('jilail')
    this.init()
  }, */
  methods: {
    init () {
      console.log('bbbbbbbbbbb')
      this.getInfo()
    },
    // 分页, 每页条数
    pageSizeChangeHandle2 (val) {
      this.page2 = 1
      this.limit2 = val
      this.getInfo()
    },
    // 分页, 当前页
    pageCurrentChangeHandle2 (val) {
      this.page2 = val
      this.getInfo()
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/function/tdmanager/pageList`, {
        params: {
          order: this.order2,
          orderField: this.orderField2,
          page: this.mixinViewModuleOptions.getDataListIsPage ? this.page2 : null,
          limit: this.mixinViewModuleOptions.getDataListIsPage ? this.limit2 : null,
          ...this.dataForm
        }
      }).then(({ data: res }) => {
        this.dataListLoading = false
        if (res.code !== 0) {
          this.dataList = []
          this.total = 0
          return this.$message.error(res.msg)
        }
        this.dataList2 = this.mixinViewModuleOptions.getDataListIsPage ? res.data.list : res.data
        this.total2 = this.mixinViewModuleOptions.getDataListIsPage ? res.data.total : 0
      }).catch(() => {
        this.dataListLoading = false
      })
    },
    handle (row, column, event, cell) {
      this.dataForm.userId = row.id
      this.getInfo()
    },
    deleteHandle: debounce(function () {
      var a = {}
      a.dataForm = this.dataForm
      a.dataListSelections = this.dataListSelections
      this.$http['post']('/function/tdmanager/delTdList', a).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.$message({
          message: this.$t('prompt.success'),
          type: 'success',
          duration: 500,
          onClose: () => {
            this.visible = false
            this.$emit('refreshDataList')
          }
        })
      }).catch(() => {})
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
