<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-sys__dept">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-button  size="mini" round type="primary" @click="addDept(dataForm.name,dataForm.id)">{{ $t('add') }}</el-button>
        </el-form-item>
        <!--导入-->
        <el-form-item>
          <el-popover
                  ref="popover4"
                  placement="right"
                  width="600"
                  trigger="click">
            <el-form-item>
              <el-card class="uploadMain">
                <div class="uploadTitle">导入文件</div>
                <div class="uploadContent">
                  <span>文件地址：</span>
                  <el-input type="text" class="showFileName" v-model="uploadFileName" value="uploadFileName"></el-input>&nbsp;
                  <el-upload
                          class="uploadStyle"
                          action=""
                          :show-file-list="false"
                          :http-request="getFileMsg">
                    <el-button icon="el-icon-view" size="mini" round type="primary">浏览</el-button>&nbsp;
                  </el-upload>
                  <el-button icon="el-icon-upload" size="mini" round class="uploadStyle" type="primary" @click.prevent="uploadExc" >导入</el-button>
                  <p style="color: #e6444a">说明:</p>
                  <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                  <br/>
                  <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                  <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                  <p style="color: #0BB2D4">这是一个说明导入的语句这是一个说明导入的语句</p>
                </div>
              </el-card>
            </el-form-item>
          </el-popover>
          <el-button v-popover:popover4 size="mini" round>Excel</el-button>
        </el-form-item>
        <!--导入end-->
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" row-key="id" border style="width: 100%;" @cell-click="handle">
        <el-table-column prop="name" :label="$t('dept.name')" header-align="center" min-width="150"></el-table-column>
        <el-table-column prop="id" label='部门编号' header-align="center" align="center"></el-table-column>
        <el-table-column prop="parentName" :label="$t('dept.parentName')" header-align="center" align="center">
        </el-table-column>
        <el-table-column prop="pid" label='上级部门编号' header-align="center" align="center"></el-table-column>
        <el-table-column prop="sort" :label="$t('dept.sort')" header-align="center" align="center" width="80"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('sys:dept:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.id)">{{ $t('update') }}</el-button>
            <el-button v-if="$hasPermission('sys:dept:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>

        </el-table-column>
      </el-table>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
      <add v-if="addOrUpdateVisible" ref="Add" @refreshDataList="getDataList"></add>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './dept-add-or-update'
import Add from './dept-add'
import Cookies from 'js-cookie'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      uploadFileName: '',
      uploadFileMsg: {},
      mixinViewModuleOptions: {
        getDataListURL: '/sys/dept/list',
        deleteURL: '/sys/dept'
      }
    }
  },
  methods: {
    getFileMsg (content) {
      this.uploadFileName = content.file.name
      this.uploadFileMsg = content
    },
    cancelUpload () {
      this.uploadFileName = ''
      this.uploadFileMsg = ''
    },
    handle (row, column, event, cell) {
      this.dataForm.name = row.name
      this.dataForm.id = row.id
    },
    uploadExc () {
      if (this.uploadFileName === '') {
        this.$alert('请先选择一个文件', '', {
          confirmButtonText: '确定'
        })
        this.uploadFileName = ''
      } else if (this.uploadFileMsg.file.type !== 'application/vnd.ms-excel') {
        this.$message.error('您导入的文件非excel格式，请重新选择！')
      } else {
        // 发送请求
        const formData = new FormData()
        const arr = Object.keys(this.uploadFileMsg)
        arr.forEach(item => {
          formData.append(item, this.uploadFileMsg[item])
          formData.append('token', Cookies.get('token'))
        })
        this.$http['post']('/sys/dept/import?', formData).then(({ data: res }) => {
          if (res.code !== 0) {
            this.$message.error(res.msg)
            if (this.callbacks.taskHandleErrorCallback) {
              this.callbacks.taskHandleErrorCallback(res)
            }
            return
          }
          this.$message({
            message: this.$t('导入部门资料成功！------请重新刷新页面！'),
            type: 'success',
            duration: 3000,

            onClose: () => {
              this.visible = false
              if (this.callbacks.taskHandleSuccessCallback) {
                this.callbacks.taskHandleSuccessCallback(res)
              }
            }
          })
        })
      }
    }
  },
  components: {
    AddOrUpdate,
    Add
  }
}
</script>
<style scope="scoped">
  .uploadMain {
    width: 100%;
    height: 40%;
    margin: 0px;
  }
  .uploadMain .uploadTitle {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #333;
  }
  .uploadMain .uploadContent {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .uploadMain .showFileName {
    width: 200px;
    height: 46px;
    text-align: center;
  }
  .uploadMain .showFileName .el-input__inner {
    height: 40px;
  }
  .uploadMain .uploadStyle {
    display: inline-block;
  }
</style>
