<template>
  <div>
    <el-button slot="append"  @click="deptDialog">新增2222222</el-button>
  <el-input :value="value" style="display: none"></el-input>
  <el-dialog class="asd" :visible.sync="visibleDept" width="70%" :modal="false" :title="placeholder" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form size="mini" :inline="true">
      <el-form-item :label="$t('keyword')">
        <el-input v-model="filterText"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="default">{{ $t('query') }}</el-button>
      </el-form-item>
      <el-form-item>
        <el-button v-if="$hasPermission('function:rsemployee:delete')" type="danger" @click="deleteHandle()">更改</el-button>
      </el-form-item>
    </el-form>
    <table>
      <tr>
        <td>
    <el-tree
      class="filter-tree"
      :data="deptList"
      :default-expanded-keys="expandedKeys"
      :props="{ label: 'name', children: 'children' }"
      :expand-on-click-node="false"
      :filter-node-method="filterNode"
      :highlight-current="true"
      @node-click="handleNodeClick2"
      node-key="id"
      ref="tree">
    </el-tree>
        </td>
        <td>
          <el-table v-loading="dataListLoading" :data="rsInfoList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
            <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
            <el-table-column prop="empCode" label="工号" header-align="center" align="center"></el-table-column>
            <el-table-column prop="cardId" label="卡号" header-align="center" align="center"></el-table-column>
            <el-table-column prop="empFname" label="姓名" header-align="center" align="center"></el-table-column>
          </el-table>
        </td>
      </tr>
    </table>
    <template slot="footer">
      <el-button type="default" @click="cancelHandle()" size="mini">{{ $t('cancel') }}</el-button>
      <el-button v-if="query" type="info" @click="clearHandle()" size="mini">{{ $t('clear') }}</el-button>
      <el-button type="primary" @click="commitHandle()" size="mini">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
  </div>
</template>
<script>
import Cookies from 'js-cookie'

export default {
  name: 'EmployeeDeptTree',
  data () {
    return {
      mixinViewModuleOptions: {
        deleteIsBatch: true
      },
      filterText: '',
      visibleDept: false,
      deptList: [],
      rsInfoList: [],
      showDeptName: '',
      expandedKeys: null,
      deleteIsBatch: true,
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  props: {
    value: [Number, String],
    deptName: String,
    query: Boolean,
    placeholder: String
  },
  watch: {
    filterText (val) {
      this.$refs.tree.filter(val)
    },
    deptName (val) {
      this.showDeptName = val
    }
  },
  methods: {
    handleNodeClick2 (nodes) {
      const formData = new FormData()
      formData.append('yId', nodes.id)
      formData.append('token', Cookies.get('token'))
      return this.$http.post('/function/rsemployee/findRsInfo', formData).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.rsInfoList = res.data
      }).catch(() => {})
    },
    deleteHandle (empCode) {
      console.log(empCode)
      console.log(this.mixinViewModuleOptions.deleteIsBatch ? '' : '/' + empCode)
    },
    deptDialog () {
      this.expandedKeys = null
      if (this.$refs.tree) {
        this.$refs.tree.setCurrentKey(null)
      }
      this.visibleDept = true
      this.getDeptList(this.value)
    },
    filterNode (value, data) {
      if (!value) return true
      return data.name.indexOf(value) !== -1
    },
    getDeptList (id) {
      return this.$http.get('/sys/dept/list').then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.deptList = res.data
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(id)
          this.expandedKeys = [id]
        })
      }).catch(() => {})
    },
    cancelHandle () {
      this.visibleDept = false
      this.deptList = []
      this.filterText = ''
    },
    clearHandle () {
      this.$emit('input', '')
      this.$emit('update:deptName', '')
      this.showDeptName = ''
      this.visibleDept = false
      this.deptList = []
      this.filterText = ''
    },
    commitHandle () {
      const node = this.$refs.tree.getCurrentNode()
      if (!node) {
        this.$message.error(this.$t('dept.chooseerror'))
        return
      }
      this.$emit('input', node.id)
      this.$emit('update:deptName', node.name)
      this.showDeptName = node.name
      this.visibleDept = false
      this.deptList = []
      this.filterText = ''
    }
  }
}
</script>
