<template>
  <div>
    <el-form>
      <el-row :gutter="15">
        <el-col :span="3"><el-input v-model="orgname" placeholder="商户名称" clearable></el-input></el-col>
        <el-col :span="3"><el-input v-model="linker" placeholder="联系人"></el-input></el-col>
        <el-col :span="3"><el-input v-model="tel" placeholder="联系电话"></el-input></el-col>
        <el-col :span="3"><el-input v-model="operator" placeholder="创建人"></el-input></el-col>
        <el-col :span="12">
          <el-button icon="el-icon-plus" type="primary" round>添加</el-button>
          <el-button icon="el-icon-search" type="info" round>查询</el-button>
          <el-button icon="el-icon-edit" type="info" round>修改</el-button>
          <el-button icon="el-icon-edit" type="info" round>清空</el-button>
          <el-button icon="el-icon-document" type="info" round>导出</el-button>
        </el-col>
      </el-row>
      <hr>
      <div style="margin-bottom: 5px"></div>

    </el-form>
    <el-table border>
      <el-table-column type="selection" header-align="center" align="center" size="20"></el-table-column>
      <el-table-column prop="orgid" header-align="center" align="center" size="30" label="商户编号"></el-table-column>
      <el-table-column prop="orgname" header-align="center" align="center" size="50" label="商户名称"></el-table-column>
      <el-table-column prop="preorgid" header-align="center" align="center" size="30" label="上级编号"></el-table-column>
      <el-table-column prop="preorgname" header-align="center" align="center" size="50" label="上级名称"></el-table-column>
      <el-table-column prop="linker" header-align="center" align="center" size="50" label="联系人"></el-table-column>
      <el-table-column prop="tel" header-align="center" align="center" size="50" label="联系电话"></el-table-column>
      <el-table-column prop="email" header-align="center" align="center" size="50" label="邮箱"></el-table-column>
      <el-table-column prop="sortcode" header-align="center" align="center" size="50" label="排序编码"></el-table-column>
      <el-table-column prop="operator" header-align="center" align="center" size="50" label="创建人"></el-table-column>
      <el-table-column prop="createtime" header-align="center" align="center" size="50" label="更新时间"></el-table-column>
    </el-table>
  </div>

</template>

<script>
</script>
