<template>
  <el-card shadow="never" class="aui-card--fill">
    <div  class="mod-face__timerecordspic}">
      <el-form  :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.id" placeholder="id" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.empId" placeholder="员工编号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()">{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('face:timerecordspic:save')" type="primary" @click="addOrUpdateHandle()">{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('face:timerecordspic:delete')" type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
        <a href="/#/sys-user">用户管理</a>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle"  @sort-change="dataListSortChangeHandle" style="width: 100%;">
        <el-table-column  type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="id" label="id" sortable="custom" header-align="center" align="center"></el-table-column>
        <el-table-column prop="empId" label="用户编号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="signTime" label="打卡时间" sortable="custom" header-align="center" align="center"></el-table-column>
        <el-table-column prop="flag" label="状态" :formatter="formatterBannerOs" header-align="center" align="center"></el-table-column>
        <el-table-column prop="picLocal" label="本地图片地址" header-align="center" align="center"></el-table-column>
        <el-table-column prop="picExtranet" label="云端图片地址" header-align="center" align="center"></el-table-column>
        <el-table-column prop="creator" label="创建者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"></el-table-column>
        <el-table-column prop="updater" label="更新者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="updateDate" label="更新时间" header-align="center" align="center"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('face:timerecordspic:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.id)">{{ $t('update') }}</el-button>
            <el-button v-if="$hasPermission('face:timerecordspic:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './timerecordspic-add-or-update'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/face/timerecordspic/page',
        getDataListIsPage: true,
        exportURL: '/face/timerecordspic/export',
        deleteURL: '/face/timerecordspic',
        deleteIsBatch: true
      },
      dataForm: {
        id: '',
        empId: ''
      }
    }
  },
  components: {
    AddOrUpdate
  },
  methods: {
    formatterBannerOs: function (row, column) {
      const cellValue = row[column.property]
      if (cellValue === '0') {
        return '未同步'
      } else if (cellValue === '1') {
        return '已同步'
      }
    }
  }
}
</script>
