<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
        <el-row>
            <el-col :span="8">
        <el-form-item label="用户编号" prop="empId">
          <el-input v-model="dataForm.empId" placeholder="用户编号"></el-input>
      </el-form-item>
            </el-col>
            <el-col :span="8">
          <el-form-item label="打卡时间" prop="signTime">
          <el-input v-model="dataForm.signTime" placeholder="打卡时间"></el-input>
      </el-form-item>
            </el-col>
        </el-row>
        <el-form-item prop="flag" label="状态" size="mini">
            <el-radio-group v-model="dataForm.flag">
                <el-radio label="0">未同步</el-radio>
                <el-radio label="1">已同步</el-radio>
            </el-radio-group>
        </el-form-item>
          <el-form-item label="本地图片地址" prop="picLocal">
          <el-input v-model="dataForm.picLocal" placeholder="本地图片地址"></el-input>
      </el-form-item>
          <el-form-item label="云端图片地址" prop="picExtranet">
          <el-input v-model="dataForm.picExtranet" placeholder="云端图片地址"></el-input>
      </el-form-item>
              <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
      </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        empId: '',
        signTime: '',
        flag: '',
        picLocal: '',
        picExtranet: '',
        creator: '',
        createDate: '',
        updater: '',
        updateDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        empId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        signTime: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        flag: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        picLocal: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        picExtranet: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/face/timerecordspic/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/face/timerecordspic/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
